eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka
spring:
  main:
    web:
      application-type: reactive
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: user-service
              uri: lb://USER-SERVICE
              predicates:
                - Path=/api/users/**

server:
  port: 8080